.arrow_carrot-right-active {
  transform: rotateZ(90deg); }

html {
  margin: 0;
  padding: 0; }
  html .move-bg {
    width: 100%;
    height: 100%;
    background: url("../assets/img/demo-2-bg.jpg") no-repeat center bottom/cover fixed;
    position: absolute;
    z-index: -1;
    opacity: 1; }
    html .move-bg canvas {
      width: 100%;
      height: 99% !important; }
  html .header {
    opacity: .8; }
  html aside #sidebar {
    opacity: .7; }
  html #top_menu {
    display: none; }
  html #main-content .breadcrumb {
    background: rgba(255, 255, 255, 0.7); }
  html #main-content .panel {
    margin-bottom: 0 !important; }
  html #main-content .move-list-content {
    max-height: 358px;
    overflow: hidden; }
    html #main-content .move-list-content .panel {
      margin-bottom: 0 !important; }
  html #wrapper {
    padding-bottom: 0 !important; }

.panel-heading {
  position: relative; }
  .panel-heading #add-btn {
    position: absolute;
    right: 0; }

.panel .save-btn {
  position: absolute;
  right: 30px; }

.paging {
  margin: 23px 0 0 0; }
  .paging li .btn-warning {
    color: #000 !important;
    background-color: #ffcc00;
    border-color: #ffcc00 !important; }
  .paging li .btn-info {
    color: #000 !important;
    background-color: #4cd964;
    border-color: #4cd964; }

th {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  td img {
    display: block !important;
    width: 30px;
    height: 40px;
    margin: 0 auto; }

.panel-success .myinfo-nav {
  height: 100px;
  background: red; }

.panel-success .myinfo-con {
  height: 200px;
  background: lightblue; }
