.jumbotron {
  opacity: .9;
  height: 400px;
  background: url("../assets/img/banner.jpg") no-repeat center;
  background-size: cover; }
  .jumbotron h1 {
    color: #fff;
    margin-top: 20px; }
  .jumbotron p {
    color: #fff;
    margin-top: 20px; }
