.m {
    height: 100%;
    display: flex;
    .send{
        flex: 1;
        height: 100%;
        position: relative !important;
        .btn-lg{
            position: absolute;
            bottom: -50px;
            right: 20px;
        }
    }
    .list{
        margin-left: 10px;
        width: 40%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .list-group{
            flex:1;
            background: rgba(255, 255, 255, .5);
            .message-list{
                position: relative;
                max-height: 100px;
                display: flex;
                overflow: hidden;
                text-overflow: ellipsis;
                .list-group-item-heading{
                    font-size: 16px;
                }
                .del{
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -15px;
                    width: 46px;
                }
                .list-group-item-text{
                    padding-right: 50px;
                    font-size: 12px;
                    flex: 1;
                }
                .list-group-item{
                    padding: 0 0 0 20px;
                    max-height: 100px;
                }
            }
        }
        
    }
    
}

